/*NOTES: mobile menu will need js functionality/fixes*/

body {
	margin: 0;
	padding: 0;
	font-family: 'Abel', sans-serif;
	font-size: 20px;
}

p {
	line-height: 1.5;
}
p, h3, h4 {
	margin: 20px;

}

h1 {
	line-height: 1;
	color: #7e4595;
	margin: 0;
}

#hello h2 {
	color: #ffe5ff;
	position: absolute;
	top:20vh;
  	left: 5%;
 	transform: translate (-50%, -50%);
}

h3 {
	font-size: 40px;
	text-align: center;
	color: #7e4595;
}

h4 {
	margin: 0;
	font-weight: normal;
}

#h1-span {
	font-size: .75em;
}

#nav-padding {
	padding-top: 100px;
}

#nav-header {
	background-color: #dcefe0;
	height: 110px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 0;

}

.nav-cell {
	padding: 15px 10px;
	color: #7e4595;
}
#menu-icon {
	background: #dcefe0 url(images/menu-icon.png) center;
	background-repeat: no-repeat;
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 3px;
	right: 50px;
}

#nav-header a {
	color: #7e4595;
}

nav:hover ul {
	display: block;
}

a {
	text-decoration: none;
}

/*a:hover #menu-icon {
	background-color: red;
	border-radius: 0;
}*/

/*not working*/
.nav-menu-item:hover {
	/*color: #960096;*/
}

nav ul, nav:active ul {
	display: none;
	position: absolute;
	background: #dcefe0;
	color: #7e4595;
/*	margin: 0 auto;*/
	width: 100%;
	border-radius: 2px;

}

nav li {
/*	width: 100%;
*/}

ul {
	list-style-type: none;
}

#hello {
	background-image: url(images/night-sky.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	width: 100%;
	height: calc(100vh - 100px);
	padding: 0;


}

.container {
	display: flex;
	flex-direction: column;
}
.project-tile {
/*	margin: 1rem;
*/	
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;
	width: 350px;
}

.project-tile p {
	font-size: 18px;
	margin: 0;
}

.portfolio-description-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	color: #7e4595;
}

.portfolio-description-cell {
	padding-left: 0;
	margin: 4px 0;
}

.contact-cell {
	text-align: center;
	padding: 20px 3px;

}

.human-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 0 15px;
}

p.human-cell {
	margin: 20px 10px;
}

img.human-cell {
	width: 50px;
	height: 50px;
	padding: 20px;
}

/*footer*/
footer {
	background-color: #eef7f0;
	height: 80px;
	text-align: center;
}
footer p {
	font-size: 17px;
	color: #7e4595;
	margin: 0;
	padding: 8px 0;
}

/*Media queries*/
@media screen and (min-width: 480px) {
	#hello h2 {
		max-width: 85%;
	}
	#socials-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.contact-cell {
		width: calc(50% - 2rem);
	}
}

@media screen and (min-width: 768px) {
	body {
		font-size: 22px;
	}
	#socials-container {
		max-width: 70%;
		margin: 0 auto;
	}
	.contact-cell {
		width: calc(33.33% - 2rem);
	}
	#bio p {
		max-width: 75%;
		margin: 0 auto;
	}
}

@media screen and (min-width: 992px) {
	#menu-icon {
		display: none;
	}
	.nav-cell {
		width: 400px;
	}
	/*need to fix*/
	nav ul {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
/*		justify-content: flex-start;*/
	}
	#hello h2 {
		max-width: 80%;
	}
	#container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.project-tile {
		padding: 10px 30px;
	}
	.human-container {
		max-width: 80%;
		margin: 0 auto;
	}

}







